@use "../../css/functions" as c;

.scrollDownSection {
    padding: 0 0 c.vw375(50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a{
        text-decoration: none;
        text-align: center;
     }

    p{
        font-family: Poppins;
        font-size: c.vw375(18);
        font-weight: 500;
        line-height: c.vw375(33);
        // color: rgba(76, 41, 181, 1);
        color: white;
        cursor: pointer;
    }

    img{
        width: c.vw375(50);
        height: auto;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .scrollDownSection {
        padding: c.vw834(30) 0;
    
        p{
            font-size: c.vw834(22);
            line-height: c.vw834(33);
        }
    
        img{
            width: c.vw834(71);
        }
    }
}

@media (min-width: 1024px) {
    .scrollDownSection {
        padding: c.vw1920(20) 0 c.vw1920(50) ;
    
        p{
            font-size: c.vw1920(22);
            line-height: c.vw1920(33);
        }
    
        img{
            width: c.vw1920(60);
        }
    }
}
