.termsAndConditions {
  padding: 0 0 10.6666666667vw;
}
.termsAndConditions .paddingTopBottom {
  padding-bottom: 10.6666666667vw;
}
.termsAndConditions h1 {
  font-size: 6.9333333333vw;
  color: #333;
  text-align: center;
  margin-bottom: 5.8666666667vw;
}
.termsAndConditions h2 {
  font-size: 5.8666666667vw;
  color: #333;
  margin-top: 5.8666666667vw;
  margin-bottom: 3.2vw;
}
.termsAndConditions p {
  margin-bottom: 3.2vw;
  text-align: justify;
}
.termsAndConditions ul {
  margin-left: 5.8666666667vw;
  list-style-type: disc;
}
.termsAndConditions a.getGackToTheRegistrationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(154, 97, 238);
  border: 2px solid #ddd;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-family: Inter;
  font-weight: 400;
  margin-top: 13.3333333333vw;
  padding: 0 5.3333333333vw;
  height: 13.3333333333vw;
  font-size: 4.2666666667vw;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .termsAndConditions {
    padding: 0 0 4.7961630695vw;
  }
  .termsAndConditions .paddingTopBottom {
    padding-bottom: 4.7961630695vw;
  }
  .termsAndConditions h1 {
    font-size: 3.1175059952vw;
    margin-bottom: 2.6378896882vw;
  }
  .termsAndConditions h2 {
    font-size: 2.6378896882vw;
    margin-top: 2.6378896882vw;
    margin-bottom: 1.4388489209vw;
  }
  .termsAndConditions p {
    margin-bottom: 1.4388489209vw;
  }
  .termsAndConditions ul {
    margin-left: 2.6378896882vw;
  }
  .termsAndConditions a.getGackToTheRegistrationPage {
    margin-top: 5.9952038369vw;
    padding: 0 2.3980815348vw;
    height: 5.9952038369vw;
    font-size: 1.9184652278vw;
  }
}
@media (min-width: 1024px) {
  .termsAndConditions {
    padding: 0 0 2.0833333333vw;
  }
  .termsAndConditions .paddingTopBottom {
    padding-top: 2.0833333333vw;
    padding-bottom: 2.0833333333vw;
  }
  .termsAndConditions h1 {
    font-size: 2.1875vw;
    margin-bottom: 1.5625vw;
  }
  .termsAndConditions h2 {
    font-size: 1.3541666667vw;
    margin-top: 1.5625vw;
    margin-bottom: 0.625vw;
  }
  .termsAndConditions p {
    margin-bottom: 1.0416666667vw;
  }
  .termsAndConditions ul {
    margin-left: 1.1458333333vw;
  }
  .termsAndConditions a.getGackToTheRegistrationPage {
    margin-top: 2.6041666667vw;
    padding: 0 1.5625vw;
    height: 3.6458333333vw;
    font-size: 1.1458333333vw;
  }
}