@use "../../css/functions" as c;

.LimitedTimeOfferExtraNewHomePage {
    .bgWhiteMobile {
        padding: c.vw375(20) c.vw375(20);
        background: linear-gradient(
            to bottom,
            rgba(137, 63, 236, 0.5) 0%,
            rgba(76, 41, 181, 0.8) 50%,
            rgba(242, 242, 242, 1) 50%,
            rgba(242, 242, 242, 1) 100%
        );
    }

    .mobileView {
        //background: linear-gradient(to top left, rgba(76, 41, 181, 1), rgba(137, 63, 236, 0.5));
        padding: c.vw375(20) c.vw375(20);
        background-color: white;
        border-radius: c.vw375(8) c.vw375(8) 0 0;

        h2 {
            font-family: Inter;
            font-size: c.vw375(28);
            font-weight: 700;
            width: auto;
            text-align: center;
            color: white;
            line-height: c.vw375(33);
            margin: 0 auto c.vw375(30);
            color: rgb(76, 41, 181);
        }

        p {
            font-family: Poppins;
            font-size: c.vw375(16);
            font-weight: 500;
            width:auto;
            text-align: center;
            color: white;
            line-height: c.vw375(30);
            margin: c.vw375(30) auto 0;
            color: rgb(76, 41, 181);
            span {
                font-weight: 700;
            }
        }

        a {
            width: c.vw375(186);
            height: c.vw375(55);
            text-decoration: none;
            background: linear-gradient(to top left, rgba(76, 41, 181, 1), rgba(137, 63, 236, 0.5));
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Inter;
            font-size: c.vw375(18);
            font-weight: 600;
            color: white;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .mobileViewDownSection {
        // background-color: rgba(242, 242, 242, 1);
        padding: c.vw375(0) c.vw375(20) c.vw375(20);
        background-color: white;
        border-radius: 0 0 c.vw375(8) c.vw375(8) ;

        h2 {
            font-family: Poppins;
            font-size: c.vw375(20);
            font-weight: 600;
            width: auto;
            text-align: center;
            color: rgba(255, 0, 121, 1);
            line-height: c.vw375(44);
            margin-left: auto;
            margin-right: auto;
        }

        p {
            margin-top: c.vw375(10);
            font-family: Poppins;
            font-size: c.vw375(14);
            font-weight: 500;
            width:auto;
            text-align: center;
            color: rgba(115, 80, 159, 1);
            line-height: c.vw375(30);
            margin-left: auto;
            margin-right: auto;
            span {
                font-weight: 700;
            }
        }
    }

    .desktopView {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .LimitedTimeOfferExtraNewHomePage {
        .bgWhiteMobile {
            padding: c.vw834(20) c.vw834(20);
            background: linear-gradient(
                to bottom,
                rgba(137, 63, 236, 0.5) 0%,
                rgba(76, 41, 181, 0.8) 50%,
                rgba(242, 242, 242, 1) 50%,
                rgba(242, 242, 242, 1) 100%
            );
        }
    
        .mobileView {
            padding: c.vw834(40) 0 0;

            h2 {
                font-size: c.vw834(35);
                width: c.vw834(701);
                line-height: c.vw834(30);
                margin: 0 auto c.vw834(30);
            }

            p {
                margin-top: c.vw834(30);
                font-size: c.vw834(16);
                width: c.vw834(641);
                line-height: c.vw834(30);
            }

            a {
                width: c.vw834(186);
                height: c.vw834(55);
                font-size: c.vw834(18);
            }
        }

        .mobileViewDownSection {
            padding: c.vw834(20) 0 c.vw834(40);
            h2 {
                font-size: c.vw834(20);
                width: c.vw834(513);
                line-height: c.vw834(44);
            }

            p {
                margin-top: c.vw834(10);
                font-size: c.vw834(14);
                width: c.vw834(513);
                line-height: c.vw834(30);
            }
        }
    }
}

@media (min-width: 1024px) {
    .LimitedTimeOfferExtraNewHomePage {
        padding: c.vw1920(50) 0;

        .bgWhiteMobile{
            display: none;
        }

        .mobileView {
            display: none;
        }

        .mobileViewDownSection {
            display: none;
        }

        .desktopView {
            display: flex;
            background: linear-gradient(to bottom, rgb(125, 86, 209) 50%, rgba(242, 242, 242, 1) 50%);
            padding: c.vw1920(40);

            .contentBox {
                width: 80%;
                margin: 0 auto;
                background-color: white;
                padding: c.vw1920(30) 0;
                border-radius: 8px;

                h2 {
                    font-family: Inter;
                    font-size: c.vw1920(47);
                    font-weight: 700;
                    width: auto;
                    margin: 0 auto;
                    text-align: center;
                    color: rgba(76, 41, 181, 1);
                    span {
                        color: rgba(255, 145, 197, 1);
                    }
                }

                p.descOne {
                    font-family: Poppins;
                    font-size: c.vw1920(18);
                    font-weight: 500;
                    width: c.vw1920(800);
                    margin: 0 auto;
                    text-align: center;
                    color: rgba(76, 41, 181, 1);
                    margin-top: c.vw1920(20);
                    span {
                        font-weight: 700;
                    }
                }

                h3 {
                    font-family: Poppins;
                    font-size: c.vw1920(20);
                    font-weight: 600;
                    width: c.vw1920(804);
                    margin: 0 auto;
                    text-align: center;
                    color: rgba(255, 145, 197, 1);
                    margin-top: c.vw1920(20);
                }

                a {
                    width: c.vw1920(186);
                    height: c.vw1920(55);
                    color: white;
                    background: linear-gradient(to top left, rgb(76, 41, 181), rgba(137, 63, 236, 0.5));
                    border-radius: 8px;
                    font-family: Inter;
                    font-size: c.vw1920(18);
                    font-weight: 600;
                    margin: 0 auto;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: c.vw1920(20);
                }

                p.termsAndConditions {
                    font-family: Poppins;
                    font-size: c.vw1920(14);
                    font-weight: 500;
                    width: c.vw1920(804);
                    margin: 0 auto;
                    text-align: center;
                    color: rgba(76, 41, 181, 1);
                    margin-top: c.vw1920(20);
                }
            }
        }
    }
}
